$gutter: 25px;
$color: #0073cf;

.centerText {
	text-align: center;
}

.reverse {
	transform: scaleX(-1);
}

.wizard {
	font-size: 64px;
}

.complete {
	border: 1px solid $color;
	color: $color;
	padding: 8px 20px;
	text-decoration: none;
	margin-top: $gutter;
	border-radius: 25px;
	display: inline-block;
}
